.card {
    padding: 15px 20px;
    color: white;
    width: 400px;
}
.card__image {
    filter: invert();
}
.card__title {
    font-size: 18px;
    font-weight: 900;
}
.card__description {
    font-size: 16px;
    font-weight: normal;
}
.card img {
    width: 90px;
    height: 90px;
}