.card {
    padding: 10px 20px;
    color: white;
}
.card__title {
    font-size: 16px;
    font-weight: 900;
}
.card__description {
    font-size: 14px;
    font-weight: normal;
}
.card img {
    width: 100px;
    height: 100px;
}